Options -Multiviews

# Turn on the RewriteEngine
RewriteEngine On

RewriteBase /litening/

#  Conditions
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#  Rules
RewriteRule ^ public/index.php [L]